body {
  margin: 50px;
  padding: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(10, 10, 10);
}
/*
 * Formatting the header area
 */
header {
  background-color: rgb(135, 203, 223);
  
  color: #444; 
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
  
}

label {
  color: blue;
}
